
<div class="container">
    &copy; 2022 - partner_aluro - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
