@model partner_aluro.ViewModels.AddProductFormModel

@{
    ViewData["Title"] = "Dodaj produkt";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@using (Html.BeginForm("Add", "Productiwarehause", FormMethod.Post))
{
    @Html.HiddenFor(h=>Model.Product.ProductId)
    @Html.ValidationSummary()
    @Html.Partial("_FormProduct")
    <button type="submit">Dodaj produkt</button>
}