@model partner_aluro.Models.Product
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@using (Html.BeginForm("EditOnPost", "Product", FormMethod.Post))
{
    @Html.HiddenFor(h=>Model.ProductId)

    @Html.Partial("_FormProduct")


    <button type="submit">Zapisz</button>
}